<h1>Welcome to WebScout</h1>
<h2>What is it?</h2>
<p>WebScout is a tool to keep track of things on the web. It allows you to regulary check an URL and trigger an action on change.<br />
You can define queries (XPATH or CSS Selector) to specify a DOM element to monitor. Web pages are either checked on a regular basis or when you trigger it per HTTP API (no more than every <%= MIN_TRACK_INTERVAL %> minutes).<br />
Specify an URL which gets called on change so that you can trigger any other web service you want.</p>

<h2>Examples</h2>
<ul>
  <li><a href="">Hacker News top entry</a></li>
  <li><a href="http://rubygems.org/gems/rails/versions">Rails versions</a></li>
</ul>